// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Intercom from "../../../../../index.js";

export declare namespace AdminsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Everything about your Admins
 */
export class AdminsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AdminsClient.Options>;

    constructor(options: AdminsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     *
     * You can view the currently authorised admin along with the embedded app object (a "workspace" in legacy terminology).
     *
     * > 🚧 Single Sign On
     * >
     * > If you are building a custom "Log in with Intercom" flow for your site, and you call the `/me` endpoint to identify the logged-in user, you should not accept any sign-ins from users with unverified email addresses as it poses a potential impersonation security risk.
     *
     * @param {AdminsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.preview.admins.identifyAdmin()
     */
    public identifyAdmin(
        requestOptions?: AdminsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.AdminWithApp | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__identifyAdmin(requestOptions));
    }

    private async __identifyAdmin(
        requestOptions?: AdminsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.AdminWithApp | undefined>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "me",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.preview.AdminWithApp | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IntercomError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/me");
    }

    /**
     * You can set an Admin as away for the Inbox.
     *
     * @param {Intercom.preview.SetAwayAdminRequest} request
     * @param {AdminsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.BadRequestError}
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.admins.setAwayAdmin({
     *         id: 1,
     *         away_mode_enabled: true,
     *         away_mode_reassign: true,
     *         away_status_reason_id: 12345
     *     })
     *
     * @example
     *     await client.preview.admins.setAwayAdmin({
     *         id: 1,
     *         away_mode_enabled: true,
     *         away_mode_reassign: true
     *     })
     */
    public setAwayAdmin(
        request: Intercom.preview.SetAwayAdminRequest,
        requestOptions?: AdminsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.Admin | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__setAwayAdmin(request, requestOptions));
    }

    private async __setAwayAdmin(
        request: Intercom.preview.SetAwayAdminRequest,
        requestOptions?: AdminsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.Admin | undefined>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `admins/${core.url.encodePathParam(id)}/away`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.Admin | undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Intercom.preview.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/admins/{id}/away");
    }

    /**
     * You can get a log of activities by all admins in an app.
     *
     * @param {Intercom.preview.ListActivityLogsRequest} request
     * @param {AdminsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     *
     * @example
     *     await client.preview.admins.listActivityLogs({
     *         created_at_after: "1677253093",
     *         created_at_before: "1677861493"
     *     })
     */
    public listActivityLogs(
        request: Intercom.preview.ListActivityLogsRequest = {},
        requestOptions?: AdminsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.ActivityLogList> {
        return core.HttpResponsePromise.fromPromise(this.__listActivityLogs(request, requestOptions));
    }

    private async __listActivityLogs(
        request: Intercom.preview.ListActivityLogsRequest = {},
        requestOptions?: AdminsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.ActivityLogList>> {
        const { created_at_after: createdAtAfter, created_at_before: createdAtBefore } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (createdAtAfter != null) {
            _queryParams.created_at_after = createdAtAfter;
        }

        if (createdAtBefore != null) {
            _queryParams.created_at_before = createdAtBefore;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "admins/activity_logs",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.ActivityLogList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/admins/activity_logs");
    }

    /**
     * Search and filter admin activity logs using a POST request with event type filter in the request body. You can find more details about the available event types in the List all activity log event types endpoint.
     *
     * @param {Intercom.preview.SearchActivityLogsRequest} request
     * @param {AdminsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     *
     * @example
     *     await client.preview.admins.searchActivityLogs({
     *         created_at_after: "1677253093",
     *         created_at_before: "1677861493",
     *         event_types: ["app_name_change", "message_state_change"]
     *     })
     *
     * @example
     *     await client.preview.admins.searchActivityLogs({
     *         created_at_after: "1677253093",
     *         created_at_before: "1677861493"
     *     })
     */
    public searchActivityLogs(
        request: Intercom.preview.SearchActivityLogsRequest = {},
        requestOptions?: AdminsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.ActivityLogList> {
        return core.HttpResponsePromise.fromPromise(this.__searchActivityLogs(request, requestOptions));
    }

    private async __searchActivityLogs(
        request: Intercom.preview.SearchActivityLogsRequest = {},
        requestOptions?: AdminsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.ActivityLogList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "admins/activity_logs/search",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.ActivityLogList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/admins/activity_logs/search");
    }

    /**
     * You can get a list of all activity log event types. This is useful for discovering valid values to use with the `event_types` filter on the List all activity logs endpoint.
     *
     * @param {AdminsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     *
     * @example
     *     await client.preview.admins.listActivityLogEventTypes()
     */
    public listActivityLogEventTypes(
        requestOptions?: AdminsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.ActivityLogEventTypeList> {
        return core.HttpResponsePromise.fromPromise(this.__listActivityLogEventTypes(requestOptions));
    }

    private async __listActivityLogEventTypes(
        requestOptions?: AdminsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.ActivityLogEventTypeList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "admins/activity_log_event_types",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.preview.ActivityLogEventTypeList,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/admins/activity_log_event_types",
        );
    }

    /**
     * You can fetch a list of admins for a given workspace.
     *
     * @param {Intercom.preview.ListAdminsRequest} request
     * @param {AdminsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     *
     * @example
     *     await client.preview.admins.listAdmins({
     *         display_avatar: true
     *     })
     */
    public listAdmins(
        request: Intercom.preview.ListAdminsRequest = {},
        requestOptions?: AdminsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.AdminList> {
        return core.HttpResponsePromise.fromPromise(this.__listAdmins(request, requestOptions));
    }

    private async __listAdmins(
        request: Intercom.preview.ListAdminsRequest = {},
        requestOptions?: AdminsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.AdminList>> {
        const { display_avatar: displayAvatar } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (displayAvatar != null) {
            _queryParams.display_avatar = displayAvatar.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "admins",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.AdminList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/admins");
    }

    /**
     * You can retrieve the details of a single admin.
     *
     * @param {Intercom.preview.RetrieveAdminRequest} request
     * @param {AdminsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.admins.retrieveAdmin({
     *         id: 1
     *     })
     */
    public retrieveAdmin(
        request: Intercom.preview.RetrieveAdminRequest,
        requestOptions?: AdminsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.Admin | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveAdmin(request, requestOptions));
    }

    private async __retrieveAdmin(
        request: Intercom.preview.RetrieveAdminRequest,
        requestOptions?: AdminsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.Admin | undefined>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `admins/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.Admin | undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/admins/{id}");
    }
}
