### Node ###
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by nyc
.nyc_output

# node-waf configuration
.lock-wscript

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Compiled version
dist

# Yarn 3.x
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Typescript mappings for lib
lib/*.map
lib/**/*.map
# Typescript mappings for test
test/*.map
test/**/*.map
# Generated Javascript
lib/*.js
lib/**/*.js
test/*.js
test/**/*.js
