// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Intercom from "../../../index.js";

export declare namespace ExportClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExportClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExportClient.Options>;

    constructor(options: ExportClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Intercom.PostExportReportingDataEnqueueRequest} request
     * @param {ExportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.BadRequestError}
     * @throws {@link Intercom.UnauthorizedError}
     * @throws {@link Intercom.TooManyRequestsError}
     *
     * @example
     *     await client.export.enqueueANewReportingDataExportJob({
     *         dataset_id: "conversation",
     *         attribute_ids: ["conversation_id", "conversation_started_at"],
     *         start_time: 1717490000,
     *         end_time: 1717510000
     *     })
     */
    public enqueueANewReportingDataExportJob(
        request: Intercom.PostExportReportingDataEnqueueRequest,
        requestOptions?: ExportClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.PostExportReportingDataEnqueueResponse> {
        return core.HttpResponsePromise.fromPromise(this.__enqueueANewReportingDataExportJob(request, requestOptions));
    }

    private async __enqueueANewReportingDataExportJob(
        request: Intercom.PostExportReportingDataEnqueueRequest,
        requestOptions?: ExportClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.PostExportReportingDataEnqueueResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "export/reporting_data/enqueue",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.PostExportReportingDataEnqueueResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Intercom.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Intercom.UnauthorizedError(
                        _response.error.body as Intercom.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Intercom.TooManyRequestsError(
                        _response.error.body as Intercom.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/export/reporting_data/enqueue",
        );
    }

    /**
     * @param {ExportClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.export.listAvailableDatasetsAndAttributes()
     */
    public listAvailableDatasetsAndAttributes(
        requestOptions?: ExportClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.GetExportReportingDataGetDatasetsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listAvailableDatasetsAndAttributes(requestOptions));
    }

    private async __listAvailableDatasetsAndAttributes(
        requestOptions?: ExportClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.GetExportReportingDataGetDatasetsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "export/reporting_data/get_datasets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.GetExportReportingDataGetDatasetsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IntercomError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/export/reporting_data/get_datasets",
        );
    }
}
