// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Intercom from "../../../../../index.js";

export declare namespace CustomObjectInstancesClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Everything about your Custom Object instances.
 * {% admonition type="warning" name="Permission Requirements" %}
 *   From now on, to access this endpoint, you need additional permissions. Please head over to the [Developer Hub](https://app.intercom.com/a/apps/_/developer-hub) app package authentication settings to configure the required permissions.
 * {% /admonition %}
 */
export class CustomObjectInstancesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomObjectInstancesClient.Options>;

    constructor(options: CustomObjectInstancesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List instances of a custom object type. Three modes are supported:
     * - **No filter** — returns all instances for the type.
     * - **`references_contact_id`** — returns instances associated with the given contact.
     * - **`references_conversation_id`** — returns instances associated with the given conversation.
     *
     * When **`external_id`** is provided, returns a single matching instance (not a list).
     *
     * @param {Intercom.preview.ListCustomObjectInstancesRequest} request
     * @param {CustomObjectInstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.customObjectInstances.listCustomObjectInstances({
     *         custom_object_type_identifier: "Order",
     *         references_contact_id: "references_contact_id",
     *         references_conversation_id: "references_conversation_id",
     *         external_id: "external_id",
     *         page: 1,
     *         per_page: 1
     *     })
     */
    public listCustomObjectInstances(
        request: Intercom.preview.ListCustomObjectInstancesRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.CustomObjectInstancesPaginatedList> {
        return core.HttpResponsePromise.fromPromise(this.__listCustomObjectInstances(request, requestOptions));
    }

    private async __listCustomObjectInstances(
        request: Intercom.preview.ListCustomObjectInstancesRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.CustomObjectInstancesPaginatedList>> {
        const {
            custom_object_type_identifier: customObjectTypeIdentifier,
            references_contact_id: referencesContactId,
            references_conversation_id: referencesConversationId,
            external_id: externalId,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (referencesContactId != null) {
            _queryParams.references_contact_id = referencesContactId;
        }

        if (referencesConversationId != null) {
            _queryParams.references_conversation_id = referencesConversationId;
        }

        if (externalId != null) {
            _queryParams.external_id = externalId;
        }

        if (page != null) {
            _queryParams.page = page.toString();
        }

        if (perPage != null) {
            _queryParams.per_page = perPage.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `custom_object_instances/${core.url.encodePathParam(customObjectTypeIdentifier)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.preview.CustomObjectInstancesPaginatedList,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/custom_object_instances/{custom_object_type_identifier}",
        );
    }

    /**
     * Create or update a custom object instance
     *
     * @param {Intercom.preview.CreateOrUpdateCustomObjectInstanceRequest} request
     * @param {CustomObjectInstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.customObjectInstances.createCustomObjectInstances({
     *         custom_object_type_identifier: "Order",
     *         external_id: "123",
     *         external_created_at: 1392036272,
     *         external_updated_at: 1392036272,
     *         custom_attributes: {
     *             "order_number": "ORDER-12345",
     *             "total_amount": "custom_attributes"
     *         }
     *     })
     */
    public createCustomObjectInstances(
        request: Intercom.preview.CreateOrUpdateCustomObjectInstanceRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.CustomObjectInstance | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__createCustomObjectInstances(request, requestOptions));
    }

    private async __createCustomObjectInstances(
        request: Intercom.preview.CreateOrUpdateCustomObjectInstanceRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.CustomObjectInstance | undefined>> {
        const { custom_object_type_identifier: customObjectTypeIdentifier, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `custom_object_instances/${core.url.encodePathParam(customObjectTypeIdentifier)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.preview.CustomObjectInstance | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/custom_object_instances/{custom_object_type_identifier}",
        );
    }

    /**
     * Delete a single Custom Object instance by external_id.
     *
     * @param {Intercom.preview.DeleteCustomObjectInstancesByIdRequest} request
     * @param {CustomObjectInstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.customObjectInstances.deleteCustomObjectInstancesById({
     *         custom_object_type_identifier: "Order",
     *         external_id: "external_id"
     *     })
     */
    public deleteCustomObjectInstancesById(
        request: Intercom.preview.DeleteCustomObjectInstancesByIdRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.CustomObjectInstanceDeleted> {
        return core.HttpResponsePromise.fromPromise(this.__deleteCustomObjectInstancesById(request, requestOptions));
    }

    private async __deleteCustomObjectInstancesById(
        request: Intercom.preview.DeleteCustomObjectInstancesByIdRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.CustomObjectInstanceDeleted>> {
        const { custom_object_type_identifier: customObjectTypeIdentifier, external_id: externalId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.external_id = externalId;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `custom_object_instances/${core.url.encodePathParam(customObjectTypeIdentifier)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.preview.CustomObjectInstanceDeleted,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/custom_object_instances/{custom_object_type_identifier}",
        );
    }

    /**
     * Fetch a Custom Object Instance by id.
     *
     * @param {Intercom.preview.GetCustomObjectInstancesByIdRequest} request
     * @param {CustomObjectInstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.customObjectInstances.getCustomObjectInstancesById({
     *         custom_object_type_identifier: "Order",
     *         id: "id"
     *     })
     */
    public getCustomObjectInstancesById(
        request: Intercom.preview.GetCustomObjectInstancesByIdRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.CustomObjectInstance | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__getCustomObjectInstancesById(request, requestOptions));
    }

    private async __getCustomObjectInstancesById(
        request: Intercom.preview.GetCustomObjectInstancesByIdRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.CustomObjectInstance | undefined>> {
        const { custom_object_type_identifier: customObjectTypeIdentifier, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `custom_object_instances/${core.url.encodePathParam(customObjectTypeIdentifier)}/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.preview.CustomObjectInstance | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/custom_object_instances/{custom_object_type_identifier}/{id}",
        );
    }

    /**
     * Delete a single Custom Object instance using the Intercom defined id.
     *
     * @param {Intercom.preview.DeleteCustomObjectInstancesByExternalIdRequest} request
     * @param {CustomObjectInstancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.customObjectInstances.deleteCustomObjectInstancesByExternalId({
     *         custom_object_type_identifier: "Order",
     *         id: "id"
     *     })
     */
    public deleteCustomObjectInstancesByExternalId(
        request: Intercom.preview.DeleteCustomObjectInstancesByExternalIdRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.CustomObjectInstanceDeleted> {
        return core.HttpResponsePromise.fromPromise(
            this.__deleteCustomObjectInstancesByExternalId(request, requestOptions),
        );
    }

    private async __deleteCustomObjectInstancesByExternalId(
        request: Intercom.preview.DeleteCustomObjectInstancesByExternalIdRequest,
        requestOptions?: CustomObjectInstancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.CustomObjectInstanceDeleted>> {
        const { custom_object_type_identifier: customObjectTypeIdentifier, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `custom_object_instances/${core.url.encodePathParam(customObjectTypeIdentifier)}/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.preview.CustomObjectInstanceDeleted,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/custom_object_instances/{custom_object_type_identifier}/{id}",
        );
    }
}
