// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Intercom from "../../../../../index.js";

export declare namespace TagsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Everything about tags
 */
export class TagsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TagsClient.Options>;

    constructor(options: TagsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * You can tag a specific contact. This will return a tag object for the tag that was added to the contact.
     *
     * @param {Intercom.preview.AttachTagToContactRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.tags.attachTagToContact({
     *         contact_id: "63a07ddf05a32042dffac965",
     *         id: "7522907"
     *     })
     *
     * @example
     *     await client.preview.tags.attachTagToContact({
     *         contact_id: "63a07ddf05a32042dffac965",
     *         id: "123"
     *     })
     */
    public attachTagToContact(
        request: Intercom.preview.AttachTagToContactRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__attachTagToContact(request, requestOptions));
    }

    private async __attachTagToContact(
        request: Intercom.preview.AttachTagToContactRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.Tag>> {
        const { contact_id: contactId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `contacts/${core.url.encodePathParam(contactId)}/tags`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/contacts/{contact_id}/tags");
    }

    /**
     * You can remove tag from a specific contact. This will return a tag object for the tag that was removed from the contact.
     *
     * @param {Intercom.preview.DetachTagFromContactRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.tags.detachTagFromContact({
     *         contact_id: "63a07ddf05a32042dffac965",
     *         id: "7522907"
     *     })
     */
    public detachTagFromContact(
        request: Intercom.preview.DetachTagFromContactRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__detachTagFromContact(request, requestOptions));
    }

    private async __detachTagFromContact(
        request: Intercom.preview.DetachTagFromContactRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.Tag>> {
        const { contact_id: contactId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `contacts/${core.url.encodePathParam(contactId)}/tags/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/contacts/{contact_id}/tags/{id}",
        );
    }

    /**
     * You can tag a specific conversation. This will return a tag object for the tag that was added to the conversation.
     *
     * @param {Intercom.preview.AttachTagToConversationRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.tags.attachTagToConversation({
     *         conversation_id: "64619700005694",
     *         id: "7522907",
     *         admin_id: "780"
     *     })
     */
    public attachTagToConversation(
        request: Intercom.preview.AttachTagToConversationRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__attachTagToConversation(request, requestOptions));
    }

    private async __attachTagToConversation(
        request: Intercom.preview.AttachTagToConversationRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.Tag>> {
        const { conversation_id: conversationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `conversations/${core.url.encodePathParam(conversationId)}/tags`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/conversations/{conversation_id}/tags",
        );
    }

    /**
     * You can remove tag from a specific conversation. This will return a tag object for the tag that was removed from the conversation.
     *
     * @param {Intercom.preview.DetachTagFromConversationRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.tags.detachTagFromConversation({
     *         conversation_id: "64619700005694",
     *         id: "7522907",
     *         admin_id: "123"
     *     })
     */
    public detachTagFromConversation(
        request: Intercom.preview.DetachTagFromConversationRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__detachTagFromConversation(request, requestOptions));
    }

    private async __detachTagFromConversation(
        request: Intercom.preview.DetachTagFromConversationRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.Tag>> {
        const { conversation_id: conversationId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `conversations/${core.url.encodePathParam(conversationId)}/tags/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/conversations/{conversation_id}/tags/{id}",
        );
    }

    /**
     * You can fetch a list of all tags for a given workspace.
     *
     *
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     *
     * @example
     *     await client.preview.tags.listTags()
     */
    public listTags(requestOptions?: TagsClient.RequestOptions): core.HttpResponsePromise<Intercom.preview.TagList> {
        return core.HttpResponsePromise.fromPromise(this.__listTags(requestOptions));
    }

    private async __listTags(
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.TagList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "tags",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.TagList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/tags");
    }

    /**
     * You can use this endpoint to perform the following operations:
     *
     *   **1. Create a new tag:** You can create a new tag by passing in the tag name as specified in "Create or Update Tag Request Payload" described below.
     *
     *   **2. Update an existing tag:** You can update an existing tag by passing the id of the tag as specified in "Create or Update Tag Request Payload" described below.
     *
     *   **3. Tag Companies:** You can tag single company or a list of companies. You can tag a company by passing in the tag name and the company details as specified in "Tag Company Request Payload" described below. Also, if the tag doesn't exist then a new one will be created automatically.
     *
     *   **4. Untag Companies:** You can untag a single company or a list of companies. You can untag a company by passing in the tag id and the company details as specified in "Untag Company Request Payload" described below.
     *
     *   **5. Tag Multiple Users:** You can tag a list of users. You can tag the users by passing in the tag name and the user details as specified in "Tag Users Request Payload" described below.
     *
     * Each operation will return a tag object.
     *
     * @param {Intercom.preview.CreateTagRequestBody} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.BadRequestError}
     * @throws {@link Intercom.preview.UnauthorizedError}
     *
     * @example
     *     await client.preview.tags.createTag({
     *         name: "test"
     *     })
     *
     * @example
     *     await client.preview.tags.createTag({
     *         name: "Independent"
     *     })
     */
    public createTag(
        request: Intercom.preview.CreateTagRequestBody,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.TagCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createTag(request, requestOptions));
    }

    private async __createTag(
        request: Intercom.preview.CreateTagRequestBody,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.TagCreateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "tags",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.TagCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Intercom.preview.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/tags");
    }

    /**
     * You can fetch the details of tags that are on the workspace by their id.
     * This will return a tag object.
     *
     * @param {Intercom.preview.FindTagRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.tags.findTag({
     *         id: "123"
     *     })
     */
    public findTag(
        request: Intercom.preview.FindTagRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.TagBasic> {
        return core.HttpResponsePromise.fromPromise(this.__findTag(request, requestOptions));
    }

    private async __findTag(
        request: Intercom.preview.FindTagRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.TagBasic>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `tags/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.TagBasic, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/tags/{id}");
    }

    /**
     * You can delete the details of tags that are on the workspace by passing in the id.
     *
     * @param {Intercom.preview.DeleteTagRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.BadRequestError}
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.tags.deleteTag({
     *         id: "123"
     *     })
     */
    public deleteTag(
        request: Intercom.preview.DeleteTagRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteTag(request, requestOptions));
    }

    private async __deleteTag(
        request: Intercom.preview.DeleteTagRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `tags/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Intercom.preview.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/tags/{id}");
    }

    /**
     * You can tag a specific ticket. This will return a tag object for the tag that was added to the ticket.
     *
     * @param {Intercom.preview.AttachTagToTicketRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.tags.attachTagToTicket({
     *         ticket_id: "64619700005694",
     *         id: "7522907",
     *         admin_id: "780"
     *     })
     */
    public attachTagToTicket(
        request: Intercom.preview.AttachTagToTicketRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__attachTagToTicket(request, requestOptions));
    }

    private async __attachTagToTicket(
        request: Intercom.preview.AttachTagToTicketRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.Tag>> {
        const { ticket_id: ticketId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `tickets/${core.url.encodePathParam(ticketId)}/tags`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/tickets/{ticket_id}/tags");
    }

    /**
     * You can remove tag from a specific ticket. This will return a tag object for the tag that was removed from the ticket.
     *
     * @param {Intercom.preview.DetachTagFromTicketRequest} request
     * @param {TagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.UnauthorizedError}
     * @throws {@link Intercom.preview.NotFoundError}
     *
     * @example
     *     await client.preview.tags.detachTagFromTicket({
     *         ticket_id: "64619700005694",
     *         id: "7522907",
     *         admin_id: "123"
     *     })
     */
    public detachTagFromTicket(
        request: Intercom.preview.DetachTagFromTicketRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.Tag> {
        return core.HttpResponsePromise.fromPromise(this.__detachTagFromTicket(request, requestOptions));
    }

    private async __detachTagFromTicket(
        request: Intercom.preview.DetachTagFromTicketRequest,
        requestOptions?: TagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.Tag>> {
        const { ticket_id: ticketId, id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                `tickets/${core.url.encodePathParam(ticketId)}/tags/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.Tag, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Intercom.preview.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/tickets/{ticket_id}/tags/{id}",
        );
    }
}
