// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Intercom from "../../../../../index.js";

export declare namespace FinAgentClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Access Fin programmatically via the Fin Agent API endpoints.
 *
 * &nbsp;
 *
 * {% admonition type="warning" %}
 * Please reach out to your accounts team to discuss access and tailored, hands-on support.
 * {% /admonition %}
 *
 * &nbsp;
 *
 * Integration is centered around two endpoints (`/fin/start` and `/fin/reply`) and a set of events that notify your application of Fin's status and responses. Events can be delivered via webhooks or Server-Sent Events (SSE).
 *
 * &nbsp;
 *
 * **Events**
 *
 * Configure a webhook endpoint in the Fin Agent API settings to receive events, or use the `sse_subscription_url` from the API response to subscribe via SSE. See the [setup guide](/docs/guides/fin-agent-api/setup) for configuration details.
 *
 * - `fin_status_updated` - Fired when Fin's status changes (escalated, resolved, complete)
 * - `fin_replied` - Fired when Fin sends a reply to the user
 * - `fin_reply_chunk` - SSE-only streaming event fired during reply generation (requires streaming enabled)
 *
 * All webhook requests include an `X-Fin-Agent-API-Webhook-Signature` header for request validation.
 */
export class FinAgentClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FinAgentClient.Options>;

    constructor(options: FinAgentClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Initialize Fin by passing it the user's message along with conversation history and user details.
     *
     * These additional pieces of context will be used by Fin to provide a better and more contextual answer to the user.
     *
     * {% admonition type="warning" %}
     * Please reach out to your accounts team to discuss access.
     * {% /admonition %}
     *
     * Once Fin is initialized, it progresses through a series of statuses such as *thinking*, *replying*, *awaiting_user_reply*, or *resolved* before ending with a status of *complete*.
     *
     * During this workflow, the client should allow Fin to continue uninterrupted until a final *complete* status is returned, at which point control of the conversation passes back to the client.
     *
     * Events can be received via webhooks or Server-Sent Events (SSE) using the `sse_subscription_url` in the response.
     *
     * @param {Intercom.preview.StartFinConversationRequest} request
     * @param {FinAgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.BadRequestError}
     * @throws {@link Intercom.preview.UnauthorizedError}
     *
     * @example
     *     await client.preview.finAgent.startFinConversation({
     *         conversation_id: "ext-123",
     *         message: {
     *             author: "user",
     *             body: "How can I see my account details?",
     *             timestamp: "2025-01-24T10:01:20Z"
     *         },
     *         user: {
     *             id: "123456",
     *             name: "John Doe",
     *             email: "john.doe@example.com"
     *         }
     *     })
     *
     * @example
     *     await client.preview.finAgent.startFinConversation({
     *         conversation_id: "ext-123",
     *         message: {
     *             author: "user",
     *             body: "How can I see my account details?",
     *             timestamp: "2025-01-24T10:01:20Z"
     *         },
     *         user: {
     *             id: "123456",
     *             name: "John Doe",
     *             email: "john.doe@example.com",
     *             attributes: {
     *                 "plan_type": "Pro",
     *                 "subscription_status": "active"
     *             }
     *         },
     *         conversation_metadata: {
     *             history: [{
     *                     author: "user",
     *                     body: "I need help",
     *                     timestamp: "2025-01-24T10:00:01Z"
     *                 }, {
     *                     author: "agent",
     *                     body: "What do you need help with?",
     *                     timestamp: "2025-01-24T10:01:00Z"
     *                 }],
     *             attributes: {
     *                 "priority_level": "high",
     *                 "department": "sales"
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.preview.finAgent.startFinConversation({
     *         conversation_id: "ext-123",
     *         message: {
     *             author: "user",
     *             body: "Here is a screenshot of the issue",
     *             timestamp: "2025-01-24T10:01:20Z"
     *         },
     *         user: {
     *             id: "123456",
     *             name: "John Doe",
     *             email: "john.doe@example.com"
     *         },
     *         attachments: [{
     *                 type: "url",
     *                 url: "https://example.com/document.pdf"
     *             }, {
     *                 type: "file",
     *                 name: "screenshot.png",
     *                 content_type: "image/png",
     *                 data: "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk..."
     *             }]
     *     })
     */
    public startFinConversation(
        request: Intercom.preview.StartFinConversationRequest,
        requestOptions?: FinAgentClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.StartFinConversationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__startFinConversation(request, requestOptions));
    }

    private async __startFinConversation(
        request: Intercom.preview.StartFinConversationRequest,
        requestOptions?: FinAgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.StartFinConversationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "fin/start",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Intercom.preview.StartFinConversationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Intercom.preview.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/fin/start");
    }

    /**
     * Once Fin has returned a response to a user's message, its status will be `awaiting_user_reply`.
     *
     * If a user replies, use this endpoint to send this response to Fin.
     *
     * {% admonition type="warning" %}
     * Please reach out to your accounts team to discuss access.
     * {% /admonition %}
     *
     * @param {Intercom.preview.ReplyToFinRequest} request
     * @param {FinAgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Intercom.preview.BadRequestError}
     * @throws {@link Intercom.preview.UnauthorizedError}
     *
     * @example
     *     await client.preview.finAgent.replyToFin({
     *         conversation_id: "123456",
     *         message: {
     *             author: "user",
     *             body: "Here's the information you requested.",
     *             timestamp: "2025-01-24T09:01:00Z"
     *         },
     *         user: {
     *             id: "123456",
     *             name: "John Doe",
     *             email: "john.doe@example.com"
     *         }
     *     })
     *
     * @example
     *     await client.preview.finAgent.replyToFin({
     *         conversation_id: "123456",
     *         message: {
     *             author: "user",
     *             body: "Here's the invoice you asked for.",
     *             timestamp: "2025-01-24T09:01:00Z"
     *         },
     *         user: {
     *             id: "123456",
     *             name: "John Doe",
     *             email: "john.doe@example.com"
     *         },
     *         attachments: [{
     *                 type: "url",
     *                 url: "https://example.com/invoice.pdf"
     *             }]
     *     })
     */
    public replyToFin(
        request: Intercom.preview.ReplyToFinRequest,
        requestOptions?: FinAgentClient.RequestOptions,
    ): core.HttpResponsePromise<Intercom.preview.ReplyToFinResponse> {
        return core.HttpResponsePromise.fromPromise(this.__replyToFin(request, requestOptions));
    }

    private async __replyToFin(
        request: Intercom.preview.ReplyToFinRequest,
        requestOptions?: FinAgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Intercom.preview.ReplyToFinResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Intercom-Version": requestOptions?.version }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IntercomEnvironment.UsProduction,
                "fin/reply",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 20) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Intercom.preview.ReplyToFinResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Intercom.preview.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Intercom.preview.UnauthorizedError(
                        _response.error.body as Intercom.preview.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IntercomError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/fin/reply");
    }
}
